* {
  font-family: "Jost", serif;
}

.parent-nav {
  height: 65px;
  background-color: rgb(237, 229, 216);
  display: flex;
  justify-content: space-between;
}

.nav-options button {
  border: none;
  cursor: pointer;
  background: none;
}

.nav-options {
  display: flex;
  align-items: center;
}

.div-header {
  display: flex;
  justify-content: center;
}

.filter-bar {
  display: flex;
  justify-content: center;
}

.filter-bar1 {
  display: flex;
  justify-content: center;
}

.login-modal .ant-modal-content {
  padding: 0px !important;
}

.login-modal .ant-modal-footer {
  display: none;
}

.login-modal .ant-modal-title {
  display: none;
}

.modal {
  display: flex;
}

.register-form .ant-form-item {
  margin: 15px;
}

.sort-train {
  display: flex;
  justify-content: space-around;
}

.train-details {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin: 4px;
}

.main-train-details {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;

}

.train-avail {
  width: 150px;
  display: flex;
  justify-content: space-between;

}

.parent-train-avail div {
  border-radius: 5px;
  margin: 4px;
  background-color: rgb(241 240 240);
  cursor: pointer;
}

.avail-card {
  display: flex;
}

.filter-bar .ant-select-single .ant-select-selector {
  border-radius: 0px;
}

.filter-bar .ant-picker {
  border-radius: 0px;
}

.filter-bar .ant-btn {
  border-radius: 0px;
}

.parent-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(234, 234, 234);

}
.parent-div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(234, 234, 234);
  height: 100vh;
}

.id-div {
  display: flex;
  flex-direction: column;
  width: 600px;
  border: 1px solid white;
  background-color: white;
  border-radius: 5px;
  margin-top: 20px;
}

.id-div1 {
  display: flex;
  width: 600px;
  border: 1px solid white;
  background-color: white;
  margin-top: 20px;
  justify-content: space-between;
  padding: 15px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.id-div2 {
  display: flex;
  width: 600px;
  border: 1px solid white;
  background-color: white;
  justify-content: space-between;
  padding: 15px;
  
}

.button-div div div {
  display: flex;
  margin: 0px !important;
  justify-content: space-around;
}

.id-div1 div {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
.id-div2 .ant-pagination{
  display: none;
}

.carousel_img{
  background-image: url('data:image/svg+xml,<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><path fill="%23BAE6FF" d="M51.6,-67.2C64.1,-62,69.4,-43.2,69.8,-26.4C70.1,-9.6,65.4,5,62.6,22.4C59.8,39.8,59,59.9,48.9,64.6C38.7,69.3,19.4,58.6,2,55.9C-15.5,53.2,-30.9,58.5,-43.7,54.7C-56.4,50.9,-66.5,37.9,-70,23.6C-73.5,9.3,-70.5,-6.3,-66.3,-22.3C-62.1,-38.3,-56.9,-54.6,-45.6,-60.2C-34.4,-65.7,-17.2,-60.5,1.2,-62.1C19.6,-63.8,39.2,-72.3,51.6,-67.2Z" transform="translate(100 100)" /></svg>')
}

.abc{
  position: fixed;
  right: 1%;
  bottom: 2%;
}
.parent{
  background-image: url('data:image/svg+xml,<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><path fill="%23E8DAFF" d="M39.8,-64.2C50.6,-55.1,57.5,-42.2,63.7,-29C69.8,-15.7,75.3,-2.1,76.7,13.4C78.1,28.8,75.4,45.9,65.2,55C55,64.1,37.2,65,21.6,66.2C6,67.5,-7.3,68.9,-19.5,65.7C-31.7,62.4,-42.6,54.4,-55.6,45.1C-68.6,35.7,-83.6,24.9,-85.2,12.3C-86.9,-0.2,-75.3,-14.7,-65.1,-26.8C-55,-38.9,-46.3,-48.7,-35.7,-57.9C-25.1,-67,-12.5,-75.6,1,-77.2C14.5,-78.7,29.1,-73.3,39.8,-64.2Z" transform="translate(100 100)" /></svg>');
  background-repeat: no-repeat;
}
.news_letter{
  background-image: url('data:image/svg+xml,<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><path fill="%23BAE6FF" d="M43.5,-71.7C51.8,-62.3,50.8,-42.5,51.6,-27.5C52.4,-12.4,55,-2,59,12.3C62.9,26.7,68.2,45.2,62,55.5C55.9,65.9,38.3,68.1,23.1,67.3C8,66.5,-4.6,62.6,-19.2,60.5C-33.7,58.4,-50.2,58.1,-62.2,50.4C-74.2,42.8,-81.8,27.8,-80.1,13.9C-78.4,0,-67.4,-12.9,-59.8,-26.5C-52.3,-40.1,-48.2,-54.4,-38.8,-63.3C-29.4,-72.1,-14.7,-75.5,1.4,-77.7C17.6,-79.9,35.2,-81,43.5,-71.7Z" transform="translate(100 100)" /></svg>');
  background-repeat: no-repeat;
}